<!-- BEGIN (write your solution here) -->
<!-- BEGIN (write your solution here) -->
<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
      <link rel="stylesheet" href="style.css">
  <title>Резюме</title>
  </head>
  <body>
      <div id="header">
<h1>Фельбаба Николай</h1>
<h3>Вэб разработчик</h3>
 <p> <a href="mailto:fns7@inbox.ru">fns7@inbox.ru</a>,
  <a href="https://my.mail.ru/?from=email">mail.ru</a></p>
<p>Я увлекся программированием после школы. Начинал с самостаятельного изучения CSS и Html .
    Когда прошол курсы на Хакслете начал работать Вэб -разработчиком. Пишу на PHP, дополнительно изучаю Pyton.
    Готов к удаленке</p>
      </div>
      <div id="main">
<h2>Опыт работы</h2>
<h4>OOO "Умнички"</h4>
<p>Вэб-дизайн,Сентябрь 2015-Октябрь 2016</p>
<ul>
    <li>Создание вэб сайта проекта </li>
    <li>Администрирование</li>
</ul>
<h2>Образование</h2>
<h4>Спб Университет технологий и дизайна</h4>
<p>Бакалавр Информатика в Экономике 2011-2016</p>
<h4>Хакслет</h4>
<p>Курсы Хакслет PHP програмирование 2015-2016</p>

<h2>Другие навыки и увлечения </h2>
      <ul>
          <li>Волейбол</li>
          <li>Плавание</li>
          <li>Экстремальное вождение Вертолёта</li>
      </ul>
      </div>
      <div id="footer">
          <h4>Фельбаба Николай</h4>
          <p> Пер.Трудовой ,7, кв 240, Мытищи,Россия,+789057724235,
              <a href="mailto:fns7@inbox.ru">fns7@inbox.ru</a> </p>

      </div>

  </body>
</html>
<!-- END -->
<!-- END -->
